.sections-tag{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    background-color: rgba($white, 0.8);
    color: $brand-color-dark;
    border: solid 1px rgba($brand-color-dark, 0.05);
    font-size:16px;
    border-radius: $border-radius-xl;
    padding: 11px 13px;
    @include add-shadow-s();

    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: all ease-in-out 0.3s;
    &:last-child{
      margin-left: 0;
    }

    &:hover{
      color: $brand-white;
      background-color:$brand-color-dark;

      .sections-tag_number{
        color: rgba( $brand-white, .5);
           }
    }

    .sections-tag_title{
            display: inline-block;
        }

         .sections-tag_number{
                max-width: 25px ;
                max-height: 25px ;
                background: rgba( $brand-light-grey, .3);
                color: rgba( $brand-color, .3);
                border-radius: $border-radius-circal; 
                text-align: center;
                margin-left: 6px;
                padding: 1px 7px;
                transition: all ease-in-out 0.3s;
            }
    
}

.sections-tag_full{
width: 100%;
max-width: 100%;
}


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
    .sections-tag{
        flex-shrink: 0;
        margin: 0 0px  0 15px;
        padding: 8px 15px;

        .sections-tag_number{
          padding: 0px 7px;
             }
    }
  
  }

// Tablet
@media all and (max-width: 1200px) and (min-width: 701px) {
    .sections-tag_title{
    width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

}

// Desktop
@media all and (max-width: 1366px) and (min-width: 1201px) {

  }

// X Desktop
@media all and  (min-width: 1367px) {
 
  }