.article-article_title{
    margin: 20px  0  60px  0;
    max-width: 899px;
    
    h1{
        line-height: 50px;
        color: $brand-color-dark;
        font-size: map-get($font-sizes, 'xxl' );
        text-transform: none;
        font-weight: bold;
    }
    h2{
        line-height: 40px;
        color: rgba($brand-color-dark, 0.7);
        font-size: map-get($font-sizes, 'xl' );
        text-transform: none;
        font-weight: 500;
    }
}


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
    .article-article_title{
        
        h1{
            line-height: 45px;
            font-size: map-get($font-sizes, 'xxl' );
        }
        h2{
            line-height: 40px;
            color: rgba($brand-color-dark, 0.7);
            font-size: map-get($font-sizes, 'xl' );
            text-transform: none;
            font-weight: 500;
        }
    }
}

// Tablet
@media all and (max-width: 1200px) and (min-width: 701px) {

}

// Desktop
@media all and (max-width: 1366px) and (min-width: 1201px) {

}

// X Desktop
@media all and  (min-width: 1367px) {

}