.article{
    direction: $direction;
   @if $direction != rtl {
    width: 899px;
   }   
    display: flex;
    flex-flow: column nowrap;
    margin: 30px auto 60px auto;
    position: relative;
}


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
    .article{
        width: 100%;
    }
  }
  
  // Tablet
  @media all and (max-width: 1200px) and (min-width: 701px) {
  
  }
  
  // Desktop
  @media all and (max-width: 1366px) and (min-width: 1201px) {
  
  }
  
  // X Desktop
  @media all and  (min-width: 1367px) {
  
  }
  
