.article_info{
    direction: $direction;
    display: flex;
    flex-flow:  nowrap row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    max-width: 899px;

 .article_author{
    display: flex;
    flex-flow: row nowrap;
   
    img{
        width: 57px;
        height: 57px;
        border-radius: $rounded-pill;
        object-fit: cover;
    }
    
       div{
        margin: auto 10px;
        .article_author_name{
            color: rgba($brand-grey, 0.9);
            font-size: map-get($font-sizes, 'xs' );
            font-weight: bold;
            display: flex;
            flex-flow: column nowrap;
    
            &::before{
                content: "";
                width: 30px;
                height: 5px;
                display: block;
                background-color: $brand-light-grey;
                margin: 8px 0 5px auto ;
                border-radius: $rounded-pill;
                direction: $direction;
            }
        }
        .article_author_publish-date{
            color: rgba($brand-grey, 0.6);
            font-size: map-get($font-sizes, 'xs' );
        }
       }
    
}

.article_reading-duration {
    background: rgba($brand-light-grey, 0.7);
    border-radius: $rounded-pill;
    padding: 10px 15px;
    color: rgba($brand-grey, 0.9); 
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;

    .aicon-clock{
        display: inline-block;
        color: rgba($brand-grey, 1);
        font-size: map-get($font-sizes, 's' );
        margin: 0 0 0 6px;
    } 
    
    span{
        font-size: map-get($font-sizes, 'xs' );
        margin-left: 6px;  
    }
}

.article_send-me-to{
    display: block;
    background:  $brand-color-dark;
    border-radius: $rounded-pill;
    padding: 10px 15px;
    margin-right: 10px;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    font-size: map-get($font-sizes, 'xs' );
    transition: ease-in-out 0.2s all;

    &:hover{
        transform: translateY(-4px);
    }
 
      i{
        display: inline-block;
        color: $brand-white;
        font-size: map-get($font-sizes, 'm' );
        margin: 0 0 0 6px;
      }
      span{   
        color:  $brand-white;
         } 
         .aicon-youtube{
            color:  #FF0000;
         } 
         .aicon-spotify{
            color:  #1DB954;
         } 
     
}   

}


// Mobile
@media all and (max-width: 700px) and (min-width: 320px) {

    .article_info{
        display: block;
        margin-bottom: 30px;
    
     .article_author{
           div{
            .article_author_name{
               max-width: 200px;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
           }
        
    }

    .article_reading-send-container{
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-between;
       align-items: baseline;
    }
    
    .article_reading-duration {
     margin-top: 20px;
     width: 46%;
    }

    .article_send-me-to{
        transform: translateY(4px);
        padding: 10px 26px;
        margin: 0;
        width: 23%;
          span{   
            display: none ;
             } 
             i{
                font-size: map-get($font-sizes, 'xl' );
                margin: 0 ;
              }
          
    }
    
    }
    
}

// Tablet
@media all and (max-width: 1200px) and (min-width: 701px) {

}

// Desktop
@media all and (max-width: 1366px) and (min-width: 1201px) {

}

// X Desktop
@media all and  (min-width: 1367px) {

}