.breadcrumb{
  display:block;
  color: $brand-grey;
  font-size: map-get($font-sizes , 's' );
direction: $direction;
  .breadcrumb_first{
    color:  rgba($brand-grey, 0.5);
    margin: auto 0 auto 5px;
  }
  .breadcrumb_second{
	color:  $brand-grey;
	margin: auto 7px;
  }
}
