.button{
  display: inline-block;
    padding: 10px 20px 15px 20px;
    margin: auto auto 10px auto;
    text-align: center;
    text-transform: capitalize;
    font-size: map-get($font-sizes, 'm');
    border-radius: $border-radius-lg;
    background: $brand-color-dark;
            }
  input {
      background: none;
      cursor: pointer;
      border: none;
    outline:none;
  } 

 .button-creat{
     background: $green;
     margin:40px 0 20px 0;  
    }

 .button-login{
     background: $blue;
     margin: 20px 0 0 0;
    }

 .button-disabled{
     opacity: 0.6;
     cursor: not-allowed;
     input{
      cursor: not-allowed; 
     }
    }
    

  