.logo{
    
    .logo-title{
        color: $brand-red;
    }

    h5{
        color: #555555;
        font-size: 20px;
        font-weight: 300;
        margin-top: -5px;
    }
    .slogan{
        color: $brand-color;
        font-size: 1.11rem;
        font-weight: bold;
        margin-top: -4px;
    }
        }
