.logo{
    
    .logo-title{
        color: $brand-color;
    }

    h5{
        color: #555555;
        font-size: 20px;
        font-weight: 300;
        margin-top: -5px;
    }
    .slogan{
        color: $brand-color;
        font-size: 1.11rem;
        font-weight: bold;
        margin-top: -4px;
    }
        }

        // Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
    .logo{
        img{
            width: 60px;
            height: 60px;
            transform: translateY(-5px);
        }
    }
}