.secondary-button{
    display: inline-block;
    background-color:$brand-white; 
    color: $brand-dark-grey;
    font-size: map-get( $font-sizes, 's' );
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 17px;
    margin: auto 10px auto 10px;
    text-align: center;
    white-space: nowrap;
 
    &:first-child{
        margin: auto 10px  auto 0px;
    }
    border-radius: $border-radius-lg;
    transition: ease-in-out 0.3s all;

    &:hover{
      -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
      color: $brand-white;
      background-color:$brand-color-darker; 
      @include add-shadow-xl();
    }

}


  .circle-secondary-button{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    background-color: $black;
    color: $white;
    text-align: center;
    font-size: map-get( $font-sizes, 's' );
    }